# all about pandas data analysis

## data analysis and visualization

In [1]:
import pandas as pd

In [2]:
new_s = pd.Series([10,20,30,40])

In [3]:
new_s

0    10
1    20
2    30
3    40
dtype: int64

# pandas level2

In [4]:
put_index = pd.Series ([10,20,30,40],index=["a","b","c","d"])

In [5]:
put_index

a    10
b    20
c    30
d    40
dtype: int64

In [6]:
colors = ["red","green","yellow","white"]
degree = [10,20,30,40]
numbers = [11,12,13,14]

In [7]:
new_df = pd.DataFrame({"colors":colors,"degree":degree,"numbers":numbers},
                     columns =["colors","degree","numbers"],
                     index=range(1,5))

In [8]:
new_df

   colors  degree  numbers
1     red      10       11
2   green      20       12
3  yellow      30       13
4   white      40       14

In [13]:
from pandas import DataFrame

In [14]:
new_df1 = DataFrame({'colors':["red","green","yellow","white"],
                   'degree':[10,20,30,40],
                   'numbers':[11,12,13,14]})

In [15]:
new_df1

   colors  degree  numbers
0     red      10       11
1   green      20       12
2  yellow      30       13
3   white      40       14

# level 3

In [16]:
df_csv = pd.read_csv("sample.csp",low_memory=False)

In [ ]:
df_csv.head()

In [ ]:
df_csv.shape #to find the shape of  data

In [ ]:
df_csv.info()

In [ ]:
df_csv.loc[df_csv["price"].argmax()][["Car","price"]]

In [ ]:
df_csv.loc[df_csv["price"].argmin()][["Car","price"]]

In [ ]:
df_csv.descibe()

In [17]:
new_url = "https://en.wikipedia.org/wiki/Academy_Awards"

In [18]:
new_html = pd.read_html(new_url,header=0, index_col=0)[3]

In [20]:
new_html.head()

,Unnamed: 1,Unnamed: 2
Award,Best Actor,Best Actress
Winner,Brendan Fraser(The Whale),Michelle Yeoh(Everything Everywhere All at Once)
NaN,NaN,NaN
Award,Best Supporting Actor,Best Supporting Actress
Winner,Ke Huy Quan(Everything Everywhere All at Once),Jamie Lee Curtis(Everything Everywhere All at ...

# pandas level 4

In [25]:
# reading extracting data from excle file

In [26]:
import pandas as pd

In [ ]:
new_df = pd.read_excel("file_location_and name")
print(new_df)

In [ ]:
# if you have multiple sheets
new_df = pd.read_excel("file_location_and name", sheet_name =0)
print(new_df)

In [ ]:
new_df = pd.read_excel("file_location_and name", sheet_name =None)# this will extract all the information of excel file including multiple sheets at once

In [ ]:
pd.read_json()#